html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #FAE8E0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}
.nav-link a {
  color: rgba(0, 0, 0, 0.55) !important;
  text-decoration: none !important;
}
.nav-link a.header-link.active {
  font-weight: bold !important;
}
.blog-container {
  display: flex;
  width: 100%;
}

* {
  box-sizing: border-box;
}
