html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #FAE8E0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}
.nav-link a {
  color: rgba(0, 0, 0, 0.55) !important;
  text-decoration: none !important;
}
.nav-link a.header-link.active {
  font-weight: bold !important;
}
.blog-container {
  display: flex;
  width: 100%;
}
.blog-container.blog-page {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.blog-page-card {
  margin: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  /* transition: color 0.15s ease, border-color 0.15s ease !important; */
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #D8A7B1;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
  padding: 20px;
  align-self: stretch;
  flex: 29%;
}
.blog-page-card:hover {
  background-color: #FFF !important;
  color: #0070f3;
  border-color: #0070f3;
}
.social-links {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-right: 0;
  justify-self: flex-end;
  position: absolute;
  right: 10%;
  top: 10px;
}
.social-links a {
  margin-left: 10px;
}
.about-pic {
  flex: 1;
  width: 20%;
  align-self: flex-start;
  float: left;
}
.about-page {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  width: 100%;
  margin: 0 auto;
}


.avatar-photo {
  height: 40vh;
  width: 50%;
  display: flex;
  background-size: contain;
  margin: 0 auto;
  background-repeat: no-repeat;
  text-align: center;
  justify-self: center;
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: auto;
  background-position-x: 50%;
  border-radius: 50%;
}
.center-text {
  text-align: justify;
}
.center-text.h2 {
  margin-bottom: 10px;
  text-align: center;
}
.center-image {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
* {
  box-sizing: border-box;
}
